.cat-picture {
    border-radius: 50%;
}
 
body {
    background: linear-gradient(to bottom, #907AD6 0%, #DABFFF 100%);
}

.verdana-font {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }